
<div id="layers">
  <div><b>Select an era to map:</b></div>
  <div class="buttons">
    <button class="selected" autofocus type="button" value="curr" class="first">Current</button>
    <button type="button" value="a2100">2100 A2a</button>
    <button type="button" value="b2100" class = "last">2100 B2a</button>
    <p>Click the map to get a species list from <a href="http://data.rebioma.net" target="_blank">REBIOMA</a> models.</p>
  </div>
</div>
<div id="results"></div>
<div id="map"></div>

<div class='wax-legend' style="display:none;">
  <div class='legend-title'>Number of Species</div>
  <div class='legend-scale'>
    <ul class='legend-labels'>
      <li class='legend-one'><span style='background:#F1EEF6;'></span>1-83</li>
      <li class='legend-two'><span style='background:#BDC9E1;'></span>84-103</li>
      <li class='legend-three'><span style='background:#74A9CF;'></span>104-125</li>
      <li class='legend-four'><span style='background:#2B8CBE;'></span>126-158</li>
      <li class='legend-five'><span style='background:#045A8D;'></span>159-301</li>
    </ul>
  </div>
  <div class='legend-source'><a href="#" id="source">More information about this map...</a></div>
</div>

</body>
</html>
