<div id="layers">
  <div><b>Select an era to map:</b></div>
  <div class="buttons">
    <button class="selected" autofocus type="button" value="curr" class="first">Current</button>
    <button type="button" value="a2100">2100 A2a</button>
    <button type="button" value="b2100" class = "last">2100 B2a</button>
    <p>Click the map to get a species list from <a href="http://data.rebioma.net" target="_blank">REBIOMA</a> models.</p>
  </div>
</div>
<div id="results"></div>
<div id="map"></div>

<div class='wax-legend' style="display:none;">
  <div class='legend-title'>Number of Species</div>
  <div class='legend-scale'>
    <ul class='legend-labels'>
      <li class='legend-one'>
        <span id="legend-one-color" style='background:#FFFFCC;'></span>
        <span id="legend-one-range"></span>
      </li>
      <li class='legend-two'>
        <span id="legend-two-color" style='background:#A1DAB4;'></span>
        <span id="legend-two-range"></span>
      </li>
      <li class='legend-three'>
        <span id="legend-three-color" style='background:#41B6C4;'></span>
        <span id="legend-three-range"></span>
      </li>
      <li class='legend-four'>
        <span id="legend-four-color" style='background:#2C7FB8;;'></span>
        <span id="legend-four-range"></span>
      </li>
      <li class='legend-five'>
        <span id="legend-five-color" style='background:#253494;'></span>
        <span id="legend-five-range"></span>
      </li>
    </ul>
  </div>
  <div class='legend-source'><a href="#" id="source">More information about this map...</a></div>
</div>

</body>
</html>
