/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.dialog-button-select {
  position: absolute !important;
  width: 320px;
  height: 160px;
  top: 5px;
  left: 10px;
  background-color: white;
  box-shadow: -2px 2px 5px #555;
  overflow: hidden;
  opacity: 1;
  z-index: 1000;
}

.dialog-button-select .header {
  background-color: #c2c25b;
  text-align: right;
  padding: 2px;
}

.dialog-button-select .header:hover {
  background-color: #a8a860;
}

.dialog-button-select .header a, .dialog-button-select .header a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.dialog-button-select .header a:hover {
  color: #eee;
}

.dialog-select-content {
  border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1;
}

.dialog-button-select ubutton { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1.2em; }
